<!DOCTYPE html>
<html data-ng-app="wos-client" data-ng-csp="">
    <head>
    <meta charset="UTF-8">
    <title>W.O.S</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    
  <div class="container">
    <div ng-controller="MainCtrl" class="chat">
    <h3 class="pull-right">Logged in as </h3>
      <textarea ng-model="chatLog" ng-disabled="true"></textarea>
      <form role="form" ng-submit="sendMsg(usr_msg)">
      <input type="text" ng-model="usr_msg" required focus style="width:80%">
      <button class="btn-primary">Send<span class="glyphicon glyphicon-send"></span></button>
      </form>
    </div>
  </div>
    

    <script src="./js/angular.min.js"></script>
    <script src="./js/socket.io.js"></script>
    <script src="./js/socket.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>